body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #26213e; /* Set default text color */
}

.quote-container {
  text-align: center;
  width: 70%;
  max-width: 1300px;
  font-family: Impact, sans-serif; /* Change font to Impact */
}

.quote-and-author {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the right */
}

.quote {
  font-size: 1.5rem;
  margin-bottom: 5px; /* Add some spacing between quote and author */
}

.author {
  font-style: italic;
  opacity: 0.8;
  font-size: 1rem; /* Increase the font size of the author */
}
